<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chuyun.com.transitions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".basictransition.BasicTransitions" />
        <activity android:name=".basictransition.DelayTransitions" />
        <activity android:name=".basictransition.CustomTransition" />
        <activity
            android:name=".basictransition.ViewOverlayActivity"
            android:label="@string/title_activity_view_overlay"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OverridePendingTransition"
            android:label="@string/title_activity_override_pending_transition"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pagetransition.ContentTransition"
            android:label="@string/title_activity_content_transition"
            android:parentActivityName=".BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="chuyun.com.transitions.BaseActivity" />
        </activity>
        <activity android:name=".pagetransition.ShareElementTransition"></activity>
    </application>

</manifest>